body{
    background: #101854;
    background-repeat: no-repeat;
    background-size: 777px 480px;
    color: #f4f4f4;
    vertical-align: 300px;
    background-attachment: fixed;
    }

    /* new */


.hat {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
}

#lgbt {
    position: fixed;
    right: 5%;
}

.area {
    position: absolute;
    right: 5%;
    top: 10%;
    text-align: center;
}

.hat:first-line {
    font-size: 25px;
}

.Input_Block {
    background-color: #6767677e;
    border-radius: 35px;
    margin: 0 auto;
    margin-top: 5%;
    width: 600px;
    height: 400px;
    position: relative;
}

.data {
    position: absolute;
    left: 5%;
    top: 10%;
    text-align: left;
}

.data>button {
    position: absolute;
    width: 20%;
    text-align: center;
}

.label {
    font-weight: bold;
    font-size: large;
}

.resultbody {
    margin: 0 auto;
    margin-top: 5%;
    width: 600px;
    position: relative;
    background-color: #6767677e;
}

.resultTable {
    position: absolute;
    text-align: center;
    font-size: 18px;
}

.cellNum {
    width: 70px;
}

.cellRes {
    width: 120px;
}

.cellTime {
    width: 200px;
}

#themebutton {
    position: fixed;
    top: 50%;
    background-image: url(../img/dark.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 15%;
}
