.x_checkboxes-negative {
    opacity: 0;
  }

  .x_checkboxes-negative+label::before {
    content: '\2713';
    text-align: center;
    color: #7b7b7b00;
    line-height: 1em;
    width: 0.7em;
    height: 0.7em;
    border: 2px inset #4548de;
    border-radius: 0.25em;
    margin: 0.25em;
    display: inline-block;
  }

  .x_checkboxes-negative:checked+label::before {
    color: #000000;
    border: 2px inset #4548de;
  }


  .x_checkboxes {
    opacity: 0;
  }

  .x_checkboxes+label::before {
    content: '\2713';
    text-align: center;
    color: #7b7b7b00;
    line-height: 1em;
    width: 0.7em;
    height: 0.7em;
    border: 2px inset #4548de;
    border-radius: 0.25em;
    margin: 0.25em;
    margin-right: 0.58em;
    display: inline-block;
  }

  .x_checkboxes:checked+label::before {
    color: #000000;
    border: 2px inset #4548de;
  }
  
  label {
    cursor: pointer;
  }