body{
    background: #313131;
    background-repeat: no-repeat;
    background-size: 777px 480px;
    color: #b8b8b8;
    vertical-align: 300px;
    background-attachment: fixed;
}


.hat {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
}

#lgbt {
    position: fixed;
    right: 5%;
}

.area {
    position: absolute;
    right: 5%;
    top: 10%;
    text-align: center;
}

.hat:first-line {
    font-size: 25px;
}

.Input_Block {
    background-color: #676767c0;
    border-radius: 35px;
    margin: 0 auto;
    margin-top: 5%;
    width: 600px;
    height: 400px;
    position: relative;
}

.data {
    position: absolute;
    left: 50px;
    top: 10%;
    text-align: left;
}

.data>button {
    position: absolute;
    width: 30%;
    text-align: center;
}

.data>p {
    text-align: left;
}

.label {
    font-weight: bold;
    font-size: large;
}

.resultbody {
    margin: 0 auto;
    margin-top: 5%;
    width: 600px;
    position: relative;
}

#maintable {
    position: absolute;
    text-align: center;
    font-size: 16px;
    background-color: #676767c0;
}

.cellNum {
    width: 70px;
}

.cellRes {
    width: 120px;
}

.cellTime {
    width: 50px;
}

.cellCurTime {
    text-align: center;
    width: 300px;
}

#themebutton:hover {
    width: 45px;
    height: 45px;
    transition-duration: 0.2s;
}

.point {
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border: 1px solid black;
    border-radius: 3px;
}

#true {
    background-color: green;
}

#false {
    background-color: red;
}

#submitButton {
    background-color: #828282;
    border: 1px solid #000000b8;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 7px;
    transition-duration: 0.4s;
  }
  
  #submitButton:hover {
    background-color: #a7a7a7;
    color: black;
  }
  
  #submitButton:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

.ui-spinner-input {
    width: 74px;
}

.slider_style{
    width:100px;
}

.point {
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border: 1px solid black;
    border-radius: 3px;
}

#true {
    background-color: green;
}

#false {
    background-color: red;
}

#toStartButton {
    display: block;
    float: right;
}